
html, body{
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Karla', sans-serif; 
	font-family: 'Karla', sans-serif;
}

p {
	font-size: medium;
}


.btn-blue{
	background-color: #1B4D8C;
	border-radius: 5rem;
}

.btn-primary{
	border-color: #FFF;
	border-width: 2px;
}


.bg-blue{
	background-color: #1B4D8C;
	color: #FFF;
}

.bg-warmwhite{
	background-color: #EEE;
	color: #111;
}

.bg-grey {
	background-color: rgba(0,0,0,.15);
	color: #000;
}

.bg-light-grey {
	background-color: rgba(0,0,0,.07);
	color: #000;
}

.title{
	margin: 1em;
	font-size: 2em;
}

.content{
	margin: 0;
}

.content p{
	color: #999;
}

.info{
	padding: 3rem;
}

.irma_logo_info{
	max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.prove{
	padding-left: 48px;
	position: absolute;
	bottom: 10px;
	left: 0;
	max-height: 100%;
}

.card-header {
  background: rgba(0,0,0,.15)
}

.img-fluid {
	padding-top: 20px;
} 

.img-warp {
	position: relative;
	min-height: 100%;
}



.know {
	padding-right: 48px;
	position: absolute;
	bottom: 0;
	right: 0;
	max-height: 100%;
}

@media (min-width: 767.98px) {
.card {
  margin-left: -33.333333%;
  margin-right: 3rem;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 2rem 2rem;
}
}

@media (max-width: 767.98px) {
.nopadding-md {
  padding-left: 0;
  padding-right: 0;
}
.know {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	left: 50%;
	transform: translateX(-50%);
	max-height: none;
	max-width: 50%;
}
.irma_logo_info {
	position: relative;
}


}
