
html, body{
	font-family: "Roboto", sans-serif;
}

.btn-blue{
	background-color: #1B4D8C;
	border-radius: 5rem;
}

.bg-blue{
	background-color: #1B4D8C;
	color: #FFF;
}

.bg-warmwhite{
	background-color: #EEE;
	color: #111;
}

.bg-grey {
	background-color: rgba(0,0,0,.15);
	color: #000;
}

.bg-light-grey {
	background-color: rgba(0,0,0,.07);
	color: #000;
}

.title{
	margin: 1em;
	font-size: 2em;
}

.content{
	margin: 0;
}

.content p{
	color: #999;
}

.info{
	padding: 3rem;
}

.irma_logo_info{
	padding: 3rem;
	height: 15rem;
}

.prove{
	float: left;
	vertical-align: baseline;
}

.card-header {
  background: rgba(0,0,0,.15)
}

@media (min-width: 767.98px) {
.card {
  margin-left: -33.333333%;
  margin-right: 3rem;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 2rem 2rem;
}
}

@media (max-width: 767.98px) {
.nopadding-md {
  padding-left: 0;
  padding-right: 0;
}
}
